{% extends 'base.html' %}

{% block content %}

<style>
    .btn-letter {
        width: 60px;
        height: 60px;
        font-size: 18px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block, bottom;
    }

    .form-group {
        display: flex; /* Display the buttons in a row */
        justify-content: center; /* Align buttons in the center horizontally */
        align-items: flex-end; /* Align buttons to the bottom */
        flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    }

    
</style>

<body>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {% for i in x %}
            <div class="form-check">
                <button class="form-check-input btn btn-outline-success btn-letter" name="{{i}}" value="{{i}}" onclick="disableButton('{{i}}')" id="{{i}}">{{i}}</button>
            </div>
            {% endfor %}
            
        </div>
    </form> 

    <script>
        function disableButton(i) {
            var button = document.getElementById(i);
            button.disabled = true;
        }
    </script>



{% endblock %}