{% extends 'base.html' %}

{% block content %}
<style>
    .btn-letter {
        width: 60px; /* Set the width of the buttons */
        height: 60px; /* Set the height of the buttons */
        font-size: 18px;
        margin-right: 5px; /* Add margin between buttons */
        margin-bottom: 5px; /* Add margin below buttons */
        display: inline-block;
    }
</style>
<p>{{playing}}</p>
<form method="POST">
    {{form.hidden_tag()}}
    <!-- Εμφάνιση των απαντήσεων ως radio buttons με το Bootstrap -->
    <div class="form-group">

        {% for i in x %}
            
        <div class="form-check">
            {{form.letter(class="btn btn-secondary")}}
            <button id="{{i}}" onclick="disableButton('{{i}}')" class="form-check-input btn-lg btn btn-success btn-letter"  name = "button" value="{{i}}" required>{{i}}</button>
        </div>
        
        {% endfor %}
        
        <script>
            function disableButton(i) {
              // Get the button element
              var button = document.getElementById(i);
              
              // Disable the button
              button.disabled = true;
            }
        </script>
        
    </div>
   
</form>


{% endblock %}