{% extends 'base.html' %}

{% block content %}

<style>
    .btn-letter {
        width: 60px;
        height: 60px;
        font-size: 18px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block, bottom;
    }

    .form-group {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px; /* Position the form at about the bottom of the page */
        display: flex; /* Display the buttons in a row */
        justify-content: center; /* Align buttons in the center horizontally */
        align-items: flex-end; /* Align buttons to the bottom */
        flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    }

    
    .playing {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 90px; /* Set the height of the container to the full viewport height */
        flex-wrap: nowrap;
    }

    .big-bold {
            font-weight: bold;
            font-size: 24px;
    }

   
    
</style>

<body>
    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
    {% endfor %}     
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">

            {% for key,value in x.items() %}
            {% if value == True %}
            <div class="form-check">
                <button class="form-check-input btn btn-outline-primary btn-letter" name="button" value="{{key}}">{{key}}</button>
            </div>
            {% else %}
            <div class="form-check">
                <button class="form-check-input btn btn-outline-primary btn-letter" name="button" value="{{key}}" disabled>{{key}}</button>
            </div>
            {% endif %}
            {% endfor %}
            
            
            
        </div>
        <div class="playing">
            <p><b>Word:</b>
                {% for item in playing %}
                    <span class="big-bold">{{ item }}</span>
                {% endfor %}

            </p>
        </div>
        <p class = "text-danger"><b>Wrong guesses left:</b> {{ wrongs }}</p>
        <img src="hangman.jpg"> 
    </form> 

    <script>
        function disableButton(i) {
            var button = document.getElementById(i);
            button.disabled = true;
        }
    </script>



{% endblock %}